body {
    background-color: #242424;
    font-family: IRANYekan, sans-serif;
}

svg {
    color: #ffff;
}

h1 {
    color: #ffff;
}

.container__sectionOne {
    margin: auto;
    width: 88%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.header__main--leftSide {
    display: flex;
    align-items: center;
}

.header__main--leftSide--userSection {
    display: flex;
    padding-left: 19px;
    border-left: 1px solid #ffff;
    align-items: center;
}

.header__main--leftSide--userSection svg {
    padding-left: 6px;
}

.header__main--rightSide {
    display: flex;
    align-items: center;
}

.header__main--rightSide--searchBox {
    display: flex;
    align-items: center;
    padding-right: 9px;
    border-bottom: 1px solid #ffff;
}

.header__main--rightSide--searchBox h1 {
    padding-right: 5px;
}

/*********START SECTION BUTTON*************/
.container__sectionTwo {
    margin: auto;
    width: 58%;
    padding-bottom: 3rem;
}

.header__button,
.header__button--phoneSection,
.header__button--aboutUsSection,
.header__button--websiteSection,
.header__button--DiscountSection,
.header__button--homeSection {
    display: flex;
    align-items: center;
}

.header__button {
    justify-content: space-around;
    margin-top: 3rem;

}

.header__button h1 {
    margin-right: 6px;
}

.header__button svg:hover {
    color: #A8741A;
}

.header__button h1:hover {
    color: #A8741A;
}

.border__underHeader-grayColor {
    border: solid 1px red;
}

.main__box {
    padding-top: 1rem;
}

.main__box--leftSide--watchBox--yellowBox {
    border: #A8741A 1px solid;
    border-radius: 15px;
}

.leftSide__watchBox--watchImage--svgBox {
    display: flex;
}

.leftSide__watchBox--watchImage--AddToCard--borderBoxGrayColor {
    border: #545454 solid 1px;
    border-radius: 10px;
}

.container__sectionThere {
    width: 87%;
    margin: auto;
}
.leftSide__watchBox--watchImage img{
    width: 20%;
}
.main__box--leftSide {
    width: max-content;
}